#backgroundVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.55;
  }

.main {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    position: relative;
    top: 45vh;
    font-weight: bold;
    font-size: 2.75vw;
    color: rgb(246, 255, 167);
}

img.logo {
    position: relative;
    top: 45vh;
    width: 20%;
    min-width: 235px;
    transition: transform .2s;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.45));
}

img.logo:hover {
    transform: scale(1.2);
}